.description
  .container
    .description__wrapper
      .description__product-description 
        .description__product-description-title.title.--small Product description
        .description__product-description-text-wrapper
          .description__product-description-text.
            AN IDEAL GIFT FOR ANY OCCASION
            Personalized cutting board is a perfect gift for any occasion: Birthday, Anniversary, Wedding, Bridal Shower, Mother's Day, Father’s Day, Christmas or Housewarming gift for family, couple etc. 
            This cutting board is the ideal gift choice for your loved ones. It is guaranteed to be a talking point wherever
            it is presented!
            #[br]
            #[br]
            All of our custom cutting boards are made of high-quality natural wood. Each and every board is examined carefully prior to beginning the engraving process. All boards are covered twice with hot mineral oil to last long, so the cutting board will be immediately available for use upon arrival.
            #[br]
            #[br]
            HOW TO ORDER?
            #[br]
            1. Using a drop-down menu make your selection of wood type and size. You may also add display stand, gift wrap and note card to your order.
            #[br]
            2. Click “add to cart” button.
            #[br]
            3. Enter all information for personalization in the personalization box
        .description__product-more
          .description__product-more-button.button-more
            a(href="") More about product
              img(src="images/button-more/arrow.png", alt="")
            a.--noshow(href="") Show less
              img(src="images/button-more/arrow.png", alt="")
      .description__delivery
        .description__delivery-title.title.--small Delivery details
        .description__delivery-column 
          .description__delivery-subtitle.subtitle Ready to ship 
          .description__delivery-text in 2–4 business days From Ukraine
        .description__delivery-column 
          .description__delivery-subtitle.subtitle Returns and exchanges accepted
          .description__delivery-text Exceptions may apply. See return policy 