$base-font-size: 16px;

//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$wide-desktop-width : 1400px;

//Цвета
$black: #000;
$white: #fff;
$blue: #42b1ba;
$blue-light: #4fc2cb;
$gray-superlight: #f6f6f6;
$gray-light: #ececec;
$gray: #e2e2e2;
$gray-darker: #c2c2c2;
$gray-dark: #7f7f7f;
$gray-superdark: #3f3f3f;
$navy: #36425b;
$navy-dark: #1e273a;
$red: #e54b43;
$orange: #e3390e;
$yellow: #ffbc3d;
$backgrounds: #f1f1f1;
$transition: all 0.3s ease;