extends layout/layout
block variables 
  - let pageTitle = 'Products';

block content
  include include/navigation
  .container
    include include/radio
    include include/products
  include include/pagination
  