extends layout/layout
block variables 
  - let pageTitle = 'Product';

block content
  include components/product/product
  include components/description/description
  include components/reviews/reviews
  include components/related/related


