.mySlider__wrapper {
  width: 742px;
  height: 271px;
  overflow: hidden;
  position:relative;
}
.mySlider__wrapper > div {
    position: absolute;
    top: 0px;
    left: 0px;
    display:none;
}

.mySlider__container {
  position: relative;
}

  .mySlider__dots {
  display: flex;
  position: absolute;
    bottom: 10px;
    left: 45%;
  }

  .mySlider__dots li  {
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
  }

  .mySlider__dots li.active {
    background: #42b1ba;
  }