/* Dots */
.slick-dots
{
  position: absolute;
  bottom: 15px;
  left: 50%;
  cursor: pointer;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    margin: 0px 8px 0px 0px;
    list-style: none;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    background: #000000;
    transition: all 0.3s ease;
}
.slick-dots li button:hover,
.slick-slider .slick-dots li.slick-active button
{
  background: #31BAFF;
}
@media (max-width:1280px) {
  .slick-dots
{
  position: absolute;
  bottom: 15px;
  left: 40%;
  cursor: pointer;
}
.slick-dots li
{
    margin: 0px 12px 0px 0px;
}
.slick-dots li button
{
    width: 6px;
    height: 6px;
}
}

