@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto";
  font-weight: 400;
}
body.--lock {
  overflow: hidden;
}

.container__pagewidth {
  width: 1128px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container__pagewidth {
    width: 800px;
  }
}
@media (max-width: 920px) {
  .container__pagewidth {
    width: 320px;
  }
}

.container__sliderwidth {
  width: 1300px;
  margin: 0 auto;
  padding: 0px 0px 0px 90px;
}
@media (max-width: 1280px) {
  .container__sliderwidth {
    width: 900px;
    padding: 0px 0px 0px 60px;
  }
}
@media (max-width: 920px) {
  .container__sliderwidth {
    width: 335px;
    padding: 0px 0px 0px 15px;
  }
}

.smalltitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
}

.button {
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  background: #42b1ba;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
}

.swiper-slide-duplicate-prev {
  opacity: 0.5;
}

@media (max-width: 920px) {
  .swiper-slide-next {
    opacity: 0.5;
  }
}
.header__top {
  border-bottom: 1px solid #eeeeee;
}
.header__bottom {
  border-bottom: 3px solid #36425b;
}
@media (max-width: 920px) {
  .header__bottom {
    border-bottom: none;
  }
}

.top-header {
  height: 90px;
  display: flex;
  align-items: center;
}
.top-header__logo {
  margin: 0px 22px 0px 0px;
}
.top-header__logomobile {
  display: none;
}
.top-header__search {
  margin: 0px 60px 0px 0px;
}
.top-header__currency {
  margin: 0px 265px 0px 0px;
}
.top-header__cart {
  margin: 0px 60px 0px 0px;
}
.top-header__menumobile {
  display: none;
}
@media (max-width: 1280px) {
  .top-header__logo {
    margin: 0px 15px 0px 0px;
  }
  .top-header__search {
    margin: 0px 30px 0px 0px;
  }
  .top-header__currency {
    margin: 0px 45px 0px 0px;
  }
  .top-header__cart {
    margin: 0px 40px 0px 0px;
  }
}
@media (max-width: 920px) {
  .top-header {
    height: 60px;
  }
  .top-header__logo {
    display: none;
  }
  .top-header__logomobile {
    display: block;
    margin: 0px 60px 0px 19px;
  }
  .top-header__search {
    display: none;
  }
  .top-header__cart {
    margin: 0px 48px 0px 0px;
  }
  .top-header__profile {
    margin: 0px 32px 0px 0px;
  }
  .top-header__menumobile {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 19px;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 8;
  }
  .top-header__menumobile:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #3e4b66;
  }
  .top-header__menumobile:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 3px;
    width: 60%;
    transition: all 0.3s ease 0s;
    background-color: #3e4b66;
  }
  .top-header__menumobile.--active {
    margin: 10px 0px 0px 0px;
  }
  .top-header__menumobile.--active:before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .top-header__menumobile.--active:after {
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

.logo-top-header {
  transition: all 0.5s ease;
  cursor: pointer;
}
.logo-top-header:hover {
  transform: scale(0.9);
}

.search-top-header__form {
  width: 360px;
  height: 32px;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 30px;
}
.search-top-header__form:hover {
  box-shadow: 0px 5px 15px rgba(62, 75, 102, 0.15);
}
.search-top-header__input {
  font-family: "Roboto";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #f1f1f1;
  padding: 0px 13px;
  color: #7f7f7f;
  transition: all 0.3s ease;
}
.search-top-header__input:focus {
  box-shadow: 0px 5px 15px rgba(62, 75, 102, 0.15);
}
.search-top-header__button {
  position: absolute;
  top: 20%;
  right: 3%;
  width: 18px;
  height: 18px;
  background: url("/img/icons/header/search.png") 0 0 no-repeat;
  transition: all 0.3s ease;
}
.search-top-header__button:hover {
  transform: scale(0.9);
}
@media (max-width: 1280px) {
  .search-top-header__form {
    width: 310px;
  }
  .search-top-header__button {
    right: 4%;
  }
}
@media (max-width: 920px) {
  .search-top-header__form.--duplicate {
    width: 261px;
  }
}

.currency-top-header {
  display: flex;
}
.currency-top-header__title {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 120%;
  color: #3f3f3f;
  margin: 0px 7px 0px 0px;
}
.currency-top-header__select {
  background: #f1f1f1;
  border-radius: 30px;
  width: 80px;
  height: 32px;
}
@media (max-width: 920px) {
  .currency-top-header {
    display: none;
  }
  .currency-top-header.--duplicate {
    display: block;
  }
}

.cart-top-header {
  width: 19px;
  height: 19px;
  position: relative;
  transition: all 0.3s ease;
}
.cart-top-header img {
  width: 26px;
  height: 26px;
}
.cart-top-header:hover {
  opacity: 0.8;
}
.cart-top-header span {
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 2px 2px;
  position: absolute;
  top: -2px;
  right: -25px;
  width: 24px;
  height: 16px;
  background: #ffbc3d;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 920px) {
  .cart-top-header.--duplicate {
    margin: 2px 54px 0px 0px;
  }
}

.profile-top-header {
  transition: all 0.3s ease;
  position: relative;
  top: 6px;
  left: 8px;
  position: relative;
  top: 5px;
}
.profile-top-header img:hover {
  opacity: 0.8;
}
.profile-top-header__menu {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}
.profile-top-header__menu.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.profile-top-header__list {
  width: 216px;
  height: 200px;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(62, 75, 102, 0.15);
  border-radius: 4px;
}
.profile-top-header__link {
  font-size: 14px;
  line-height: 160%;
  display: flex;
  color: #3f3f3f;
  padding: 9px 0px 8px 16px;
  border-bottom: 1px solid #e2e2e2;
  transition: all 0.3s ease;
}
.profile-top-header__link.--favorite {
  position: relative;
}
.profile-top-header__link.--favorite img {
  position: absolute;
  right: 16px;
  top: 9px;
  transition: all 0.3s ease;
}
.profile-top-header__link.--favorite img:hover {
  opacity: 0.6;
}
.profile-top-header__link.--favorite img:active {
  transform: scale(0.9);
}
.profile-top-header__link.--noborder {
  border-bottom: none;
}
.profile-top-header__link:hover {
  background: #f6f6f6;
}
.profile-top-header__link:active {
  color: #42b1ba;
  font-weight: 700;
}
@media (max-width: 920px) {
  .profile-top-header {
    top: 3px;
    left: 0;
  }
  .profile-top-header.--duplicate {
    margin: 0px 34px 0px 0px;
  }
}

.bottom-header__uppermenu {
  display: none;
}
.bottom-header__menu {
  padding: 20px 0px 0px 0px;
}
.bottom-header__list {
  display: flex;
}
.bottom-header__link {
  margin: 0px 72px 0px 0px;
  padding: 0px 0px 21px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  position: relative;
  transition: all 0.3s ease;
}
.bottom-header__link:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  left: 0;
  height: 3px;
  background: #42b1ba;
  width: 0;
  z-index: 3;
  transition: all 0.3s ease;
}
.bottom-header__link:hover:after {
  width: 100%;
}
.bottom-header__link:hover a {
  color: #42b1ba;
}
.bottom-header__link a {
  color: #36425b;
  transition: all 0.3s ease;
}
.bottom-header__link:last-child {
  margin: 0;
}
.bottom-header__submenu {
  display: none;
}
@media (max-width: 1280px) {
  .bottom-header__link {
    margin: 0px 17px 0px 0px;
  }
}
@media (max-width: 920px) {
  .bottom-header__menu {
    position: fixed;
    top: 0;
    right: 0px;
    width: 95%;
    transform: translate(100%, 0px);
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 3;
  }
  .bottom-header__menu.--active {
    transform: translate(0px, 0px);
  }
  .bottom-header__list {
    flex-direction: column;
    padding: 37px 39px 15px 58px;
    border-bottom: 1px solid #e2e2e2;
  }
  .bottom-header__link {
    font-size: 16px;
    line-height: 200%;
  }
  .bottom-header__link:after {
    height: 0;
  }
  .bottom-header__uppermenu {
    display: flex;
    flex-direction: column;
  }
  .bottom-header__uppermenutop {
    display: flex;
    padding: 0px 0px 16px 19px;
    border-bottom: 1px solid #e2e2e2;
  }
  .bottom-header__uppermenubottom {
    padding: 20px 0px 20px 19px;
    border-bottom: 1px solid #e2e2e2;
  }
  .bottom-header__submenu {
    display: block;
  }
  .bottom-header__submenulist {
    display: flex;
    padding: 32px 52px 32px 59px;
  }
  .bottom-header__submenulink {
    font-size: 14px;
    margin: 0px 40px 0px 0px;
  }
  .bottom-header__submenulink a {
    color: #3f3f3f;
  }
  .bottom-header__submenulink:last-child {
    margin: 0;
  }
}
.bottom-header__menu2 {
  display: none;
}
.bottom-header__menu3 {
  display: none;
}

@media (max-width: 920px) {
  .menu2-bottom-header {
    padding: 20px 0px 0px 15px;
    display: block;
    position: fixed;
    top: 0;
    right: 0px;
    width: 85%;
    transform: translate(100%, 0px);
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 4;
    box-shadow: 0px 0px 15px rgba(62, 75, 102, 0.25);
  }
  .menu2-bottom-header.--active {
    transform: translate(0px, 0px);
  }
  .menu2-bottom-header__prev {
    margin: 0px 0px 24px 0px;
    display: inline-block;
  }
  .menu2-bottom-header__list {
    margin: 0px 0px 0px 20px;
    font-size: 16px;
    line-height: 300%;
  }
  .menu2-bottom-header__link a {
    color: #36425b;
  }
}

@media (max-width: 920px) {
  .menu3-bottom-header {
    padding: 20px 0px 0px 15px;
    display: block;
    position: fixed;
    top: 0;
    right: 0px;
    width: 75%;
    transform: translate(100%, 0px);
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 5;
    box-shadow: 0px 0px 15px rgba(62, 75, 102, 0.25);
  }
  .menu3-bottom-header.--active {
    transform: translate(0px, 0px);
  }
  .menu3-bottom-header__prev {
    margin: 0px 0px 24px 0px;
    display: inline-block;
  }
  .menu3-bottom-header__list {
    margin: 0px 0px 10px 20px;
    font-size: 16px;
    line-height: 300%;
  }
  .menu3-bottom-header__link a {
    color: #36425b;
  }
}

.content__block3 {
  border-top: 1px dashed #e1e0e0;
  border-bottom: 1px dashed #e1e0e0;
}
.content__block5 {
  margin: 0px 0px 59px 0px;
}
@media (max-width: 1280px) {
  .content__block5 {
    margin: 0px 0px 39px 0px;
  }
}

.block1-content {
  padding: 40px 0px 47px 0px;
  display: flex;
}
.block1-content__slider {
  margin: 0px 27px 0px 0px;
}
@media (max-width: 1280px) {
  .block1-content {
    padding: 40px 0px 37px 0px;
  }
  .block1-content__slider {
    margin: 0px 10px 0px 0px;
  }
}
@media (max-width: 920px) {
  .block1-content {
    flex-direction: column;
    padding: 0px 0px 27px 0px;
    margin: -2px 0px 0px 0px;
  }
  .block1-content__slider {
    margin: 0px;
    z-index: 2;
  }
  .block1-content__sell {
    margin: -1px 0px 0px 0px;
  }
}

.slider-block1-content__image img {
  -webkit-clip-path: polygon(0 1%, 100% 0%, 99% 100%, 0 100%);
          clip-path: polygon(0 1%, 100% 0%, 99% 100%, 0 100%);
}
.slider-block1-content__wrapper {
  width: 741px;
}
.slider-block1-content__item {
  position: relative;
}
.slider-block1-content__content {
  position: absolute;
  margin: 32px 0px 0px 60px;
  top: 0;
  left: 0;
  width: 430px;
}
.slider-block1-content__title {
  color: #1e273a;
  margin: 0px 0px 63px 0px;
  font-size: 46px;
}
.slider-block1-content__button {
  padding: 12px 27px;
  background: #e3390e;
}
.slider-block1-content__button:hover {
  background: rgba(227, 56, 13, 0.8);
}
.slider-block1-content__icon {
  position: absolute;
  bottom: 15px;
  right: 13px;
  display: inline-block;
  transition: all 0.3s ease;
}
.slider-block1-content__icon:hover {
  transform: scale(0.9);
}
@media (max-width: 1280px) {
  .slider-block1-content__wrapper {
    width: 550px;
  }
  .slider-block1-content__content {
    width: 300px;
    margin: 15px 0px 0px 30px;
  }
  .slider-block1-content__title {
    margin: 0px 0px 37px 0px;
    font-size: 36px;
  }
}
@media (max-width: 920px) {
  .slider-block1-content__wrapper {
    width: 320px;
    height: 200px;
    -webkit-clip-path: polygon(0 1%, 100% 0, 97% 100%, 0% 100%);
            clip-path: polygon(0 1%, 100% 0, 97% 100%, 0% 100%);
  }
  .slider-block1-content__image {
    width: 320px;
    height: 200px;
  }
  .slider-block1-content__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 1%, 100% 0, 97% 100%, 0% 100%);
            clip-path: polygon(0 1%, 100% 0, 97% 100%, 0% 100%);
  }
  .slider-block1-content__content {
    width: 180px;
    margin: 41px 0px 0px 38px;
  }
  .slider-block1-content__title {
    margin: 0px 0px 15px 0px;
    font-size: 24px;
    line-height: 130%;
    font-weight: 800;
  }
  .slider-block1-content__button {
    padding: 8px 16px;
  }
  .slider-block1-content__icon {
    display: none;
  }
}

.sell-block1-content {
  width: 360px;
  position: relative;
}
.sell-block1-content__image {
  -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 100%, 2% 100%);
          clip-path: polygon(0 1%, 100% 0%, 100% 100%, 2% 100%);
}
.sell-block1-content__info {
  width: 165px;
  margin: 31px 0px 0px 42px;
  position: absolute;
  top: 0;
  left: 0;
}
.sell-block1-content__title {
  color: #fff;
  font-size: 34px;
  margin: 0px 0px 38px 0px;
  line-height: 120%;
}
.sell-block1-content__button {
  padding: 10px 23px;
  border: 3px solid #fff;
}
.sell-block1-content__button:hover {
  border: 3px dotted #fff;
}
.sell-block1-content__icon img {
  position: absolute;
  bottom: 0;
  right: -20px;
}
@media (max-width: 1280px) {
  .sell-block1-content__image img {
    width: 240px;
    height: 201px;
  }
  .sell-block1-content__info {
    width: 180px;
    margin: 15px 0px 0px 20px;
  }
  .sell-block1-content__title {
    font-size: 25px;
    margin: 0px 0px 25px 0px;
  }
  .sell-block1-content__button {
    padding: 8px 18px;
  }
  .sell-block1-content__icon {
    position: absolute;
    transform: scale(0.8);
    right: 0px;
  }
}
@media (max-width: 920px) {
  .sell-block1-content {
    width: 320px;
  }
  .sell-block1-content__title {
    width: 120px;
    font-weight: 800;
    margin: 0px 0px 20px 0px;
  }
  .sell-block1-content__image img {
    width: 320px;
    height: 199px;
    -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 2% 100%);
            clip-path: polygon(4% 0, 100% 0, 100% 100%, 2% 100%);
  }
  .sell-block1-content__info {
    margin: 23px 0px 0px 40px;
  }
  .sell-block1-content__button {
    padding: 6px 20px;
  }
  .sell-block1-content__icon {
    right: 15px;
  }
}

.block2-content {
  padding: 0px 0px 36px 0px;
  display: flex;
  justify-content: space-between;
}
.block2-content__column {
  flex: 0 0 33.333%;
  margin: 0px 6px 0px 0px;
}
.block2-content__item {
  display: flex;
}
.block2-content img {
  margin: 0px 17px 0px 0px;
}
.block2-content__body {
  max-width: 233px;
}
.block2-content__title {
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  margin: 0px 0px 7px 0px;
}
.block2-content__text {
  font-size: 14px;
  line-height: 160%;
  color: #3f3f3f;
}
@media (max-width: 1280px) {
  .block2-content {
    padding: 0px 0px 10px 0px;
  }
  .block2-content__column {
    margin: 0px 16px 0px 0px;
  }
  .block2-content img {
    width: 60px;
    height: 63px;
    margin: 20px 15px 0px 0px;
  }
}
@media (max-width: 920px) {
  .block2-content {
    flex-direction: column;
  }
  .block2-content__column {
    margin: 0px 0px 19px 0px;
  }
  .block2-content img {
    width: 66px;
    height: 72px;
    margin: 4px 19px 0px 0px;
  }
  .block2-content__title {
    font-size: 16px;
    line-height: 20px;
  }
  .block2-content__text {
    font-size: 12px;
  }
}

.block3-content {
  padding: 39px 0px;
  position: relative;
}
.block3-content__title {
  color: #1e273a;
  margin: 0px 0px 22px 0px;
}
.block3-content__slide {
  width: 262px;
  margin: 0px 0px 26px 0px;
}
.block3-content__column {
  transition: all 0.5s ease;
  cursor: pointer;
}
.block3-content__column:hover {
  transform: scale(0.95);
}
.block3-content__item.--twoprices {
  background: url("/img/icons/block3/price.png") -1px 95% no-repeat;
}
.block3-content__image {
  margin: 0px 0px 12px 0px;
}
.block3-content__image.--clip1 {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 1% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 1% 100%);
}
.block3-content__image.--clip2 {
  -webkit-clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
}
.block3-content__image.--clip3 {
  -webkit-clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
}
.block3-content__image.--clip4 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}
.block3-content__textheight {
  height: 45px;
  margin: 0px 0px 8px 0px;
  overflow: hidden;
}
.block3-content__text {
  font-size: 14px;
  line-height: 160%;
  color: #3f3f3f;
}
.block3-content__pricebox {
  width: 180px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 0px 0px 2px;
}
.block3-content__pricebox.--twoprices {
  padding: 0px 0px 0px 9px;
}
.block3-content__price {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #1e273a;
  margin: 0px 5px 0px 0px;
}
.block3-content__price.--sale {
  color: #e3390e;
}
.block3-content__price.--oldprice {
  display: inline-block;
  position: relative;
}
.block3-content__price.--oldprice:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 11px;
  left: 0;
  height: 2px;
  background: #e3390e;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease;
}
.block3-content__nextslide {
  position: absolute;
  right: 0;
  top: 9px;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 1;
}
.block3-content__nextslide:hover {
  transform: scale(0.95);
}
.block3-content__nextslide:active {
  transform: scale(0.85);
}
@media (max-width: 1280px) {
  .block3-content {
    padding: 29px 0px 0px 0px;
  }
}
@media (max-width: 920px) {
  .block3-content {
    padding: 23px 0px 15px 0px;
  }
  .block3-content .smalltitle {
    font-size: 18px;
  }
  .block3-content__title {
    margin: 0px 0px 15px 0px;
  }
  .block3-content__nextslide {
    display: none;
  }
  .block3-content__slide {
    width: 200px;
    margin: 0;
  }
  .block3-content__image {
    width: 200px;
    height: 129px;
  }
  .block3-content__image img {
    height: 100%;
    width: 100%;
  }
  .block3-content__item.--twoprices {
    background: none;
  }
  .block3-content__price {
    font-size: 16px;
  }
  .block3-content__price.--oldprice {
    font-size: 16px;
  }
}

.block4-content {
  padding: 43px 0px 60px 0px;
}
.block4-content__title {
  margin: 0px 0px 23px 0px;
}
.block4-content__slide {
  width: 305px;
}
.block4-content__rate {
  margin: 0px 0px 19px 0px;
}
.block4-content__textheight {
  margin: 0px 0px 65px 0px;
  height: 80px;
}
.block4-content__text {
  font-style: italic;
  font-size: 14px;
  line-height: 170%;
  color: #3f3f3f;
}
.block4-content__bottom {
  position: relative;
}
.block4-content__image1.--clip1 {
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 97%, 0% 100%);
          clip-path: polygon(0 1%, 100% 0, 100% 97%, 0% 100%);
}
.block4-content__image1.--clip2 {
  -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
}
.block4-content__image1.--clip3 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
}
.block4-content__image2 {
  position: absolute;
  bottom: 2px;
  left: 87px;
}
.block4-content__info {
  display: inline-block;
  padding: 26px 0px 0px 70px;
}
.block4-content__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1e273a;
  margin: 0px 0px 2px 0px;
}
.block4-content__date {
  font-size: 16px;
  line-height: 20px;
  color: #3f3f3f;
}
.block4-content__nextslide {
  position: absolute;
  right: 0;
  top: 9px;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 1;
}
.block4-content__nextslide:hover {
  transform: scale(0.95);
}
.block4-content__nextslide:active {
  transform: scale(0.85);
}
@media (max-width: 1280px) {
  .block4-content {
    padding: 20px 0px 40px 0px;
  }
  .block4-content__textheight {
    height: 110px;
  }
  .block4-content__image1 {
    width: 80px;
  }
  .block4-content__image2 {
    width: 65px;
    height: 62px;
    bottom: 58px;
    left: 75px;
  }
  .block4-content__info {
    display: block;
    padding: 16px 0px 0px 0px;
  }
  .block4-content__name {
    font-size: 14px;
    line-height: 20px;
  }
  .block4-content__date {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 1100px) {
  .block4-content__image1 {
    width: 100px;
  }
  .block4-content__image2 {
    width: 75px;
    height: 75px;
    bottom: 2px;
    left: 87px;
  }
  .block4-content__info {
    display: inline-block;
    padding: 26px 0px 0px 70px;
  }
  .block4-content__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1e273a;
    margin: 0px 0px 2px 0px;
  }
  .block4-content__date {
    font-size: 16px;
    line-height: 20px;
    color: #3f3f3f;
  }
}
@media (max-width: 920px) {
  .block4-content {
    padding: 20px 0px 36px 0px;
  }
  .block4-content__textheight {
    margin: 0px 0px 15px 0px;
    width: 205px;
    height: 80px;
    overflow: hidden;
  }
  .block4-content__text {
    font-size: 12px;
  }
  .block4-content .smalltitle {
    font-size: 18px;
  }
  .block4-content__nextslide {
    display: none;
  }
  .block4-content__info {
    display: block;
    padding: 16px 0px 0px 0px;
  }
  .block4-content__name {
    font-size: 14px;
    line-height: 20px;
  }
  .block4-content__date {
    font-size: 12px;
    line-height: 20px;
  }
  .block4-content__image1 {
    width: 100px;
  }
  .block4-content__image2 {
    position: absolute;
    bottom: 58px;
    left: 87px;
    width: 75px;
    height: 75px;
  }
}

.block5-content {
  position: relative;
}
.block5-content__image {
  -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0 100%);
}
.block5-content__title {
  font-family: Montserrat;
  font-size: 36px;
  line-height: 110%;
  color: #fff;
  position: absolute;
  margin: 30px 0px 0px 50px;
  top: 0;
  left: 0;
  width: 280px;
}
.block5-content__icon {
  position: absolute;
  bottom: -17px;
  left: 470px;
}
.block5-content__button {
  position: absolute;
  right: 40px;
  top: 48px;
  padding: 8px 25px;
  border: 3px solid #fff;
  transition: all 0.3s ease;
}
.block5-content__button:hover {
  border: 3px dotted #fff;
}
@media (max-width: 1280px) {
  .block5-content__icon {
    left: 43%;
  }
}
@media (max-width: 920px) {
  .block5-content__image {
    width: 320px;
    height: 200px;
  }
  .block5-content__image img {
    width: 100%;
    height: 100%;
  }
  .block5-content__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    width: 155px;
    margin: 23px 0px 0px 39px;
  }
  .block5-content__button {
    top: 135px;
    right: 180px;
    background: none;
    padding: 6px 15px;
  }
  .block5-content__icon {
    left: 70px;
    bottom: -19px;
  }
}

.footer {
  background: #232f3e;
}

.top-footer {
  padding: 58px 0px 45px 0px;
  display: flex;
}
.top-footer__column {
  flex: 0 0 25%;
}
.top-footer__title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0px 0px 16px 0px;
}
.top-footer__link {
  font-size: 14px;
  line-height: 200%;
}
.top-footer__link a {
  color: #bac4d0;
  position: relative;
}
.top-footer__link a:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  height: 1px;
  background: #9fa9b5;
  width: 0px;
  z-index: 3;
  transition: all 0.3s ease;
}
.top-footer__link a:hover:after {
  width: 100%;
}
@media (max-width: 1280px) {
  .top-footer {
    padding: 38px 0px 38px 0px;
  }
  .top-footer__column {
    margin: 0px 24px 0px 0px;
  }
  .top-footer__link {
    font-size: 20px;
  }
}
@media (max-width: 920px) {
  .top-footer {
    flex-direction: column;
    padding: 31px 0px 0px 19px;
  }
  .top-footer__title {
    font-weight: 700;
    font-family: Roboto;
  }
  .top-footer__list {
    display: none;
  }
}

.bottom-footer {
  background: #131a22;
}
.bottom-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 111px;
}
.bottom-footer__left {
  display: flex;
}
.bottom-footer__logo {
  margin: 0px 25px 0px 0px;
}
.bottom-footer__solma {
  font-size: 14px;
  line-height: 150%;
  color: #9fa9b5;
  padding: 3px 0px 0px 0px;
}
.bottom-footer__list {
  display: flex;
}
.bottom-footer__link {
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  margin: 0px 0px 0px 50px;
  position: relative;
}
.bottom-footer__link a {
  color: #9fa9b5;
  padding: 3px 0px 0px 0px;
}
.bottom-footer__link a:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  height: 1px;
  background: #9fa9b5;
  width: 0px;
  z-index: 3;
  transition: all 0.3s ease;
}
.bottom-footer__link a:hover:after {
  width: 100%;
}
@media (max-width: 1280px) {
  .bottom-footer__wrapper {
    height: 75px;
  }
}
@media (max-width: 920px) {
  .bottom-footer__wrapper {
    flex-direction: column;
    height: 136px;
  }
  .bottom-footer__left {
    margin: 29px 0px 0px 0px;
  }
  .bottom-footer__logo {
    margin: 0px 125px 0px 0px;
  }
  .bottom-footer__list {
    align-items: stretch;
    margin: 24px 0px 35px 0px;
  }
  .bottom-footer__list li:last-child {
    margin: 0;
  }
  .bottom-footer__link {
    margin: 0px 23px 0px 0px;
  }
}