.product-prices  
  .product-prices__wrapper
    .product-prices__dollar-container 
      .product-prices__dollar.title.--medium $23.99
    .product-prices__euro-container 
      .product-prices__euro 18.34 €
