.product-buttons
  button(type="submit").product-buttons__button-buy.button-wide Buy it now
  button(type="submit").product-buttons__button-add.button-wide.--navy Add to cart
    img(src="images/product-buttons/add.svg", alt="")