footer.footer 
  .footer__top  
    .container
      .footer__top-wrapper
        .footer__top-column 
          .footer__top-item 
            .footer__top-title Store
            ul.footer__top-list 
              li.footer__top-link 
                a(href="") Подарочные сертификаты 
              li.footer__top-link
                a(href="") Seller-online блог
        .footer__top-column 
          .footer__top-item 
            .footer__top-title Sell
            ul.footer__top-list 
              li.footer__top-link 
                a(href="") Sell on SOM
              li.footer__top-link
                a(href="") Teams
              li.footer__top-link
                a(href="") Forums
        .footer__top-column 
          .footer__top-item 
            .footer__top-title About
            ul.footer__top-list 
              li.footer__top-link 
                a(href="") Seller-online, Inc.
              li.footer__top-link
                a(href="") Policies
              li.footer__top-link
                a(href="") Investors
              li.footer__top-link 
                a(href="") Careers
              li.footer__top-link
                a(href="") Press
              li.footer__top-link
                a(href="") Impact
              li.footer__top-link
                a(href="") Legal imprint
        .footer__top-column 
          .footer__top-item 
            .footer__top-title Follow SOM
            ul.footer__top-list 
              li.footer__top-link 
                a(href="") Facebook
              li.footer__top-link
                a(href="") Instagram
              li.footer__top-link
                a(href="") Pinterest
              li.footer__top-link 
                a(href="") Twitter
  .footer__bottom 
    .container
      .footer__bottom-wrapper 
        .footer__bottom-left 
          .footer__bottom-logo
            img(src="img/footer/SOM.png", alt="logo")
          a.footer__bottom-solma(href="") © 2019 Solma
        .footer__bottom-right 
          ul.footer__bottom-list 
            li.footer__bottom-link 
              a(href="") Terms of Use
            li.footer__bottom-link 
              a(href="") Privacy
            li.footer__bottom-link 
              a(href="") Interest-based ads