.navigation  
  .container
    ul.navigation__list 
      li.navigation__link 
        a(href="") Свадьба
          a.navigation__arrow(href="") 
            img(src="img/navigation/arrow.svg", alt="")
      li.navigation__link 
        a(href="") Товары для вечеринок
          a.navigation__arrow(href="") 
            img(src="img/navigation/arrow.svg", alt="")
      li.navigation__link 
        a(href="") Декор для вечеринок 
        span (362 товара)
