.radio 
  .radio__title.subtitle Цена
  ul.radio__list 
    li.radio__item
      input.radio__radio(type="radio", name="price", value="Any", id="Any")
      label.radio__label(for="Any") Любая цена
    li.radio__item
      input.radio__radio(type="radio", name="price", value="Less than 25$", id="Less25", checked)
      label.radio__label(for="Less25") Дешевле 25$
    li.radio__item
      input.radio__radio(type="radio", name="price", value="From 25$ to 50$", id="25to50")
      label.radio__label(for="25to50") От 25$ до 50$
    li.radio__item
      input.radio__radio(type="radio", name="price", value="From 50$ to 100$", id="50to100")
      label.radio__label(for="50to100") От 50$ до 100$
    li.radio__item
      input.radio__radio(type="radio", name="price", value="More than 100$", id="More100")
      label.radio__label(for="More100") Дороже 100$
    li.radio__item
      input.radio__checkbox(type="checkbox", value="Sale", id="Sale")
      label.radio__label(for="Sale") Распродажа