.container 
  .seller 
    .seller__image 
      img(src="images/seller/Rectangle.jpg", alt="Background")
    .seller-title What is Seller-online ?
    .seller-icon
      img(src="images/seller/Group.png", alt="What is online")
    a.seller-button.button(href="") Read more
