block variables  
  - let pageTitle = 'SOM';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js") 
    title= pageTitle
  body 
    include header
    include modals
    block content 
    include seller
    include footer
  script(src="js/index.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js") 