.modals
  form.sign-in(action="#", method="post", id="sign-in") 
    .sign-in__wrapper.wrapper
      .sign-in__top
        .sign-in__title.title.--small Вход / Регистрация
        label.sign-in__label(for="email") Email
        input.sign-in__input.input(type="email", placeholder="Alexander.Ivanov@gmail.com", id="email")
        a.sign-in__problem(href="") Проблема с входом ?
      .sign-in__middle
        a.sign-in__google.button-social(href="") Войти через Google
          img(src="images/modals/google.svg", alt="") 
        a.sign-in__facebook.button-social(href="") Войти через Facebook
          img(src="images/modals/facebook.svg", alt="")
      a.sign-in__coninue.button-wide(href="#registration") Продолжить как гость
  form.registration(action="#", method="post", id="registration") 
    .registration__wrapper.wrapper
      .registration__top
        .registration__title.title.--small Регистрация
        label.registration__label Email
          input.registration__input.input(type="email")
        label.registration__label Новый пароль
          input.registration__input.input(type="password")
        label.registration__label Повторите пароль
          input.registration__input.input(type="password")
      a.registration__button.button-wide.--navy(href="") Зарегистрироваться
  form.authoristaion(action="#", method="post", id="authorisation") 
    .authoristaion__wrapper.wrapper
      .authoristaion__top
        .authoristaion__title.title.--small Авторизация
        label.authoristaion__label Почта
          input.authoristaion__input.input(type="email")
        label.authoristaion__label Пароль
          input.authoristaion__input.--nomargin.input(type="password")
        a.authoristaion__registration(href="") Регистрация
        a.authoristaion__forgot-password.js-fancybox(href="#reset") Восстановить пароль
      a.authoristaion__button.button-wide.--navy(href="") Войти
  form.reset(action="#", method="post", id="reset") 
    .reset__wrapper.wrapper 
      .reset__top 
        .reset__title.title.--small Восстановление пароля
        .reset__text Сссылка для восстановления пароля отправлена на 
          a(href="") 
      a.reset__button.button-wide.--navy(href="") Закрыть
