.modals
  form.registration(action="json/responseOk.json", id="registration") 
    .registration__wrapper.modal
      .registration__top.modal__top
        .registration__title.title.--small Регистрация
        label.registration__label Email
          input.registration__input.input(type="email", pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})", required)
        label.registration__label Новый пароль
          input.registration__input.input(type="password", name="password" id="password")
        label.registration__label Повторите пароль
          input.registration__input.input(type="password", name="passwordConfirm" id="passwordConfirm")
      button.registration__button.modal__button.button.--wide.--navy(type="submit") Зарегистрироваться
      a.registration__close.modal__close(href="", onclick="$.fancybox.close(); return false;" ) 
        img(src="images/modals/close.svg", alt="")
  form.success(action="#", id="success") 
    .success__wrapper.modal
      .success__top.modal__top
        .success__title.modal__title.title.--small Информация
        .success__text Вы авторизированы под ID 
          a.js-id(href="") 
      a.success__button.modal__button.button.--wide.--navy(href="", onclick="$.fancybox.close(); return false;") Закрыть
      a.success__close.modal__close(href="", onclick="$.fancybox.close(); return false;" ) 
        img(src="images/modals/close.svg", alt="")
  form.reset(action="#",  id="reset") 
    .reset__wrapper.modal
      .reset__top.modal__top
        .reset__title.modal__title.title.--small Предупреждение
        .reset__text.js-text 
          a.js-send-password-to(href="") 
      a.reset__button.modal__button.button.--wide.--navy(href="", onclick="$.fancybox.close(); return false;") Закрыть
      a.reset__close.modal__close(href="", onclick="$.fancybox.close(); return false;" ) 
        img(src="images/modals/close.svg", alt="")
  form.errors(action="#")
    .errors__wrapper.modal
        .errors__top.modal__top
          .errors__title.modal__title.title.--small Ошибка сервера
          .errors__text.js-error  
        a.errors__button.modal__button.button.--wide.--navy(href="", onclick="$.fancybox.close(); return false;") Закрыть
        a.error_s_close.modal__close(href="", onclick="$.fancybox.close(); return false;" ) 
          img(src="images/modals/close.svg", alt="")
