.container 
  .seller 
    .seller__image.js-crop-image
      img(src="images/seller/Rectangle.jpg", alt="Background")
    .seller__title.title What is Seller-online ?
    .seller__icon
      img(src="images/seller/Group.png", alt="What is online")
    a.seller__button.button(href="") Read more
