block variables  
  - let pageTitle = 'SOM';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="../src/styles/css/jquery.formstyler.css")
    link(rel="stylesheet", href="../src/styles/css/jquery.formstyler.theme.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js") 
    script(src="../src/js/jquery.formstyler.min.js") 
    title= pageTitle
  body 
    include ../include/header
    block content 
    include ../include/seller
    include ../include/footer
    script(src="../src/js/styler.js") 
    script(src="../src/js/dropdown.js") 
    script(src="../src/js/crop.js") 