.product-order 
  .product-order__title-height 
    .product-order__title.title.--medium Personalized Dog Leash Hanger, Dog Leash Hook, Dog Gift Personalized with Name
  include ../product-prices
  form.product-order__details(action="#", method="get")
    .product-order__inscription-quantity
      .product-order__inscription 
        .product-order__inscription-title.subtitle Apply the inscription on the product
        input.product-order__inscription-input(type="text", placeholder="I'am mrbig") 
        .product-order__inscription-example Example: Enter the name you want  on the necklace. Max 10 characters, no spaces, no special charachters. Thank you.
      .product-order__quantity 
        .product-order__quantity-title.subtitle Quantity
        select.product-order__quantity-select(name="select")
          option.product-order__quantity-option
          option.product-order__quantity-option(value="1") 1
          option.product-order__quantity-option(value="2") 2
          option.product-order__quantity-option(value="3") 3
          option.product-order__quantity-option(value="4") 4
    include ../product-buttons
    
    
    