.navigation {
  border-bottom: 1px solid $gray-light;
  &__list {
    display: flex;
    height: 59px;
    align-items: center;
  }
  &__link {
    a {
    margin: 0px 9px 0px 0px;
    font-size: 14px;
    color: $gray-superdark;
    transition: $transition;
    &:hover {
      color: $blue;
    }
  }
  span {
    font-size: 14px;
    color: $gray-darker;
    margin: 0px 0px 0px -7px;
  }
  }
  &__arrow {
    position: relative;
    top: 7px;
    transition: $transition;
    &:active {
      top: 5px;
    }
  }
}


