.pagination {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 100px 250px;
  &__previous {
    width: 126px;
    height: 30px;
    background-color: $gray-light;
    color: $navy-dark;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 41px 0px 0px;
    position: relative;
    transition: $transition;
    & img {
      position: absolute;
      top: 10px;
      left: 14px;
    }
    &:hover {
      background-color: $gray-darker;
    }
  }

  &__numbers {
    display: flex;
    align-items: center;
    height: 30px;
  }

  &__number {
    width: 36px;
    display: flex;
    justify-content: center;
    transition: $transition;
    & a {
      color: $gray-superdark;
    }
    &:hover {
      background-color: $gray-light;
      border-radius: 30px;
      transition: $transition;
      & a {
        color: $blue;
        font-weight: 700;
      }
    }
  }

  &__next {
    width: 126px;
    height: 30px;
    background-color: $gray-light;
    color: $navy-dark;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 53px;
    position: relative;
    transition: $transition;
    & img {
      position: absolute;
      top: 10px;
      right: 14px;
    }
    &:hover {
      background-color: $gray-darker;
    }
  }
}
