.products {
  padding: 21px 0px 0px 0px;
  display: inline-flex;
  flex-direction: column;
  width: 870px;
  border-bottom: 1px solid $gray-superlight;
  &__filters {
    display: inline-flex;
    margin: 0px 40px 11px 0px; 
    & a {
      color: $navy;
    }
  }
  &__filter {
    margin: 0px 35px 0px 0px;
    & a {
      transition: $transition;
    }
  }
  &__filter:hover &__filter-prices a,
  &__filter:hover &__filter-ages a{
    color: $blue;
  }
  &__filter:hover &__arrow {
    border: 5px solid transparent; border-top: 5px solid $blue;
  }
  &__filter-prices {
    margin: 0px 8px 0px 0px;
    display: inline-flex;
    padding: 5px 0px;
    cursor: pointer;
  }
  &__arrow {
    display: inline-block;
    border: 5px solid transparent; border-top: 5px solid $navy;
    position: relative;
    top: 4px;
  }
  &__filter-ages {
    display: inline-flex;
    margin: 0px 8px 0px 0px;
    padding: 5px 0px;
    cursor: pointer;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -13px;
  }
  &__column {
    flex: 0 0 33.333%;
    padding: 13px;
    margin: 0px 0px 22px 0px;
    width: 263px;
    transition: $transition;
    border-radius: 10px;
    &:hover {
      box-shadow: 5px 5px 15px rgba(62, 75, 102, 0.15);;
    }
  }
  &__column.--twoprices {
    background: url('img/products/background.png') 5px 189px no-repeat;
  }
  &__item-image {
    margin: 0px 0px 13px 0px;
    img {
    width: 100%;
    }
  }
  &__item-description-container {
    margin: 0px 0px 10px 0px;
    height: 45px;
    width: 262px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__item-price-container {
    display: inline-block;
    width: 80px;
  }
  &__item-price {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: $navy-dark;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__item-price.--onsale {
    color: $orange;
  }
  &__item-oldprice-container {
    display: inline-block;
    width: 71px;
    margin: 0px 0px 0px -12px;
  }
  &__item-oldprice {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: $navy-dark;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: 11px;
      left: 0;
      height: 2px;
      background: $orange;
      width: 66px;
      z-index: 3;
      transition: $transition;
    }
  }
}


