.button {
  border-radius: 30px;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  background: $blue;
  display: inline-block;
  cursor: pointer;
  transition: $transition;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }

  &.--social {
    text-align: left;
    padding: 10px 22px;
    width: 263px;
    height: 40px;
    line-height: 20px;
    border-radius: 35px;
    position: relative;
    & img {
      position: absolute;
      top: 11px;
      right: 20px;
    }
  }

  &.--wide {
    width: 263px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border: 2px solid $navy;
    color: $navy;
    border-radius: 35px;
    &.--navy {
      background: $navy;
      color: $white;
    }
  }

  &.--more {
    background: $gray-light;
    & a {
      padding: 0px 0px 0px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 168px;
      font-size: 12px;
      line-height: 20px;
      border-radius: 25px;
      color: $navy-dark;
      position: relative;
      transition: $transition;
      &.--noshow {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
      &:hover {
        background: $gray;
        border-radius: 25px;
      }
      &:active {
        background: $gray-darker;
      }
      & img {
        position: absolute;
        left: 19px;
        top: 12px;
        transition: $transition;
      }
    }
    &.--opened {
      & img {
        transform: rotate(180deg);
      }
    }
  }
}
