.footer {
  background: $footer;
  &__top {
    padding: 58px 0px 45px 0px;
    @include tablet {
      padding: 30px 0px 15px 0px;
    }
  }
  &__top-wrapper {
    display: flex;
  }
  &__top-column {
    flex: 0 0 25%;
  }
  &__top-title {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: $white;
    margin: 0px 0px 16px 0px;
    @include tablet {
      line-height: 40px;
    }
  }
  &__top-link {
    font-size: 14px;
    line-height: 200%;
    font-family: Roboto;
    font-weight: 300;
    @include small-desktop {
      line-height: 40px;
    }
    @include tablet {
      display: none;
    }
    & a {
      color: $pale-blue;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -1px;
        left: 0;
        height: 1px;
        background: $footer-blue;
        width: 0px;
        z-index: 3;
        transition: $transition;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
  &__bottom {
    background: $footer-bottom;
  }
  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 111px;
    @include tablet {
      height: 80px;
    }
  }
  &__bottom-left {
    display: flex;
  }
  &__bottom-logo {
    margin: 0px 25px 0px 0px;
    @include tablet {
      margin: 0px 15px 0px 0px;
    }
  }
  &__bottom-solma {
    font-size: 14px;
    line-height: 150%;
    color: $footer-blue;
    padding: 3px 0px 0px 0px;
  }
  &__bottom-list {
    display: flex;
  }
  &__bottom-link {
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    margin: 0px 0px 0px 50px;
    position: relative;
    & a {
      color: $footer-blue;
      padding: 3px 0px 0px 0px;
      &:after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0px;
        left: 0;
        height: 1px;
        background: $footer-blue;
        width: 0px;
        z-index: 3;
        transition: $transition;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
