
.wrapper {
  width: 383px;
  padding: 55px 0px 30px 0px;
  box-shadow: 0px 20px 25px rgba(62, 75, 102, 0.2);
  
}
.sign-in {
  &.fancybox-content {
  padding: 0;
}
    display: none;

    &__top {
      padding: 0px 60px 23px 60px;
      border-bottom: 1px solid $gray;
    }
		&__title {
      margin: 0px 0px 27px 0px;
		}

		&__label {
		}

		&__input {
      margin: 0px 0px 3px 0px;
		}

		&__problem {
      display: inline-block;
      color: $blue;
		}
    &__middle {
      padding: 30px 60px;
      border-bottom: 1px solid $gray;
    }
		&__google{
      background: $google;
      
		}

		&__facebook {
  background: $facebook;
  margin: 0;
  & img {
    right: 23px;
  }
	}

		&__coninue {
      
      margin: 30px 60px 0px 60px;
		}
}

.registration {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
  &__wrapper {
    padding: 55px 0px 30px 0px;
  }

  &__top {
    padding: 0px 60px 13px 60px;
    border-bottom: 1px solid $gray;
  }

  &__title {
    margin: 0px 0px 27px 0px;
  }

  &__label {
  }

  &__input {
    margin: 0px 0px 17px 0px;
   
  }


  &__button {
    margin: 30px 60px 0px 60px;
  }
}

.authoristaion {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
  &__wrapper {
  }

  &__top {
    padding: 0px 60px 29px 60px;
    border-bottom: 1px solid $gray;
    & a {
      color: $blue;
    }
  }

  &__title {
    margin: 0px 0px 27px 0px;
  }

  &__label {
  }

  &__input {
    margin: 0px 0px 17px 0px;
    &.--nomargin {
      margin: 0;
    }
  }

  &__registration {
    margin: 0px 36px 0px 0px;
  }

  &__forgot-password {
  }

  &__button {
    margin: 30px 60px 0px 60px;
    
  }
}

.reset {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
  &__top {
    padding: 0px 60px 20px 60px;
    border-bottom: 1px solid $gray;
    & a {
      color: $blue;
    }
  }
  &__title {
    margin: 0px 0px 27px 0px;
  }

  &__text {
  }

  &__button {
    margin: 30px 60px 0px 60px;
  }
}



