.modal {
  width: 383px;
  padding: 55px 0px 30px 0px;
  box-shadow: 0px 20px 25px rgba(62, 75, 102, .2);
  position: relative;
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  &__top {
    padding: 0px 60px 23px 60px;
    border-bottom: 1px solid $gray;
    & a {
      color: $blue;
    }
  }
  &__title {
    margin: 0px 0px 27px 0px;
  }
  &__input {
    margin: 0px 0px 17px 0px;
    &.--nomargin {
      margin: 0;
    }
  }
  &__button {
    margin: 30px 60px 0px 60px;
  }
}


.registration {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
  &__title {
    padding: 0px 0px 10px 0px;
  }
  &__label {
    display: block;
    margin: 17px 0px 0px 0px;
    & .error {
      color: red;
    }
  }
}

.authoristaion {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
  &__registration {
    margin: 0px 36px 0px 0px;
  }
}

.success {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
}

.reset {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
}

.errors {
  display: none;
  &.fancybox-content {
    padding: 0;
  }
}
