.seller {
  position: relative;
  
  &__image {
    margin: 0px 0px 90px 0px;
    @include small-desktop {
      margin: 0px 0px 30px 0px;
    }
  }

  &__title {
    font-size: 36px;
    color: $white;
    position: absolute;
    margin: 30px 0px 0px 50px;
    top: 0;
    left: 0;
    width: 280px;
    @include tablet {
      z-index: 2;
    }
  }

  &__icon {
    position: absolute;
    bottom: -17px;
    left: 470px;
    @include small-desktop {
      left: 370px;
    }
    @include tablet {
      left: 180px;
    }
  }

  &__button {
    position: absolute;
    right: 40px;
    top: 48px;
    padding: 8px 25px;
    border: 3px solid $white;
    transition: $transition;
    @include tablet {
      background: transparent;
    }
    &:hover {
      border: 3px dotted $white;
    }
  }
}



