.container 
  .related 
    .related__title.title.--small Related to this item
    .related__buttons
      a.related__button(href="") wnicet
      a.related__button(href="") wgood
      a.related__button(href="") harder