.add-to-cart {
  &__image {
    margin-right: 10px;
  }
  &__text {
    position: relative;
    top: 2px;
    cursor: pointer;
    transition: $transition;
    &:hover {
      color: $pink;
    }
  }
}
