.breadcrumbs {
  padding: 34px 0px 36px 0px;
  @include tablet {
    padding: 13px 0px 14px 15px;
  }
  
  &__list {
    display: flex;
    justify-content: center;
    @include tablet {
      justify-content: flex-start;
    }
  }

  &__link {
    background: url('../img/breadcrumbs/arrow.png') 99% 3px no-repeat;
    padding-right: 13px;
    & a{
    color: rgba(41, 41, 41, 0.46);
    transition: $transition;
    &:hover {
      color: $dark-blue;
    }
    }
    &:last-child {
      background: none;
      & a {
      color: $dark-blue;
      transition: $transition;
      &:hover {
        color: rgba(41, 41, 41, 0.46);
      }
      }
    }
  }
}
