.youlike {
  padding: 60px 0px 87px 0px;
  @include small-desktop {
  padding: 40px 0px 55px 0px;
  }
  &__title {
    margin-bottom: 36px;
    text-align: center;
  }
  &__container {
    height: 423px;
  }
  & .swiper-container {
    margin: 0 -23px 35px -25px;
    padding: 0 27px;
    position: relative;
  }

  &__wrapper {
    display: flex;
    margin: 0px -15px;
  }

  &__column {
    flex: 0 0 25%;
    padding: 0px 13px;
    display: flex;
    
  }

  &__item {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 5px;
    cursor: pointer;
    height: 413px;
    width: 271px;
    transition: $transition;
    &:hover{
      box-shadow: 10px 10px 5px $pink-light;
    }
  }

  &__image {
    margin-bottom: 22px;
  }

  &__name {
    margin-bottom: 7px;
    padding: 0px 18px 0px 21px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__text-wrapper {
    padding: 0px 18px 0px 21px;
    flex: 1 0 auto;
    margin-bottom: 10px;
    
  }

  &__text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__order {
    display: flex;
    border-top: 1px solid $gray;
  }

  &__prices {
    width: 125px;
    padding: 9px 0px 13px 22px;
    border-right: 1px solid $gray;
  }

  &__price-old {
    white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: $gray-deep;
position: relative;
margin-bottom: 4px;
font-family: Montserrat;

&:after {
  content: '';
  width: 56px;
  height: 1px;
  background: $gray-deep;
  top: 8px;
  left: 0px;
  position: absolute;
}
  }

  &__price {
    white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: $pink;
  }

  &__add {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  & .swiper-button-prev,
  .swiper-button-next {
    top: 27%;
    position: absolute;
    &:hover {
      opacity: 0.7;
    }
    &:after {
    display: none;
    }
  }
  &__all-wrapper {
    display: flex;
    justify-content: center;
  }
  &__all {
    width: 289px;
height: 50px;
  }
}
