.reviews {
  border-bottom: 1px dashed $gray;
  &__wrapper {
    padding: 37px 0px 33px 0px;
    width: 746px;
    @include small-desktop {
      width: 600px;
    }
    @include tablet {
      padding: 30px 0px;
    }
  }

  &__top {
    display: flex;
    margin: 0px 0px 73px 0px;
    align-items: center;
    @include small-desktop {
      margin: 0px 0px 55px 0px;
    }
  }

  &__top-title {
    margin: 0px 20px 0px 0px;
  }

  &__top-stars {
    margin: 0px 12px 0px 0px;
  }

  &__top-total {
    position: relative;
    top: 1px;
    font-size: 16px;
  }

  &__list {
    height: 790px;
    overflow: hidden;
    transition: $transition;
    &.--opened {
      height: 1070px;
      @include small-desktop {
        height: 1000px;
      }
    }
  }

  &__list-column {
    margin: 0px 0px 79px 0px;
    @include small-desktop {
      margin: 0px 0px 40px 0px;
    }
  }

  &__list-stars {
    margin: 0px 0px 16px 0px;
  }

  &__list-text-wrapper {
    margin: 0px 0px 20px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__list-text {
    font-style: italic;
font-size: 14px;
line-height: 24px;
  }

  &__list-info {
    display: flex;
  }

  &__list-product {
    &:hover {
      opacity: 0.8;
    }
  }

  &__list-person {
    position: relative;
    left: -10px;
    top: 2px;
    margin: 0px 21px 0px 0px;
    &:hover {
      opacity: 0.8;
    }
  }

  &__list-person-info {
    padding: 20px 0px;
  }

  &__list-person-name {
    font-size: 16px;
    margin: 0px 0px 3px 0px;
  }

  &__list-date {
    line-height: 20px;
  }
  &__list-more {
    display: flex;
    justify-content: center;

  }
  &__list-more-button {
    height: 30px;
  }
}
