.product-order {
  flex: 0 0 50%;
  &__title-height {
    width: 550px;
    height: 98px;
    margin: 0px 0px 18px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include small-desktop {
      width: 450px;
    }
    @include tablet {
      width: 600px;
      height: 60px;
    }
  }
  &__prices-wrapper {
    width: 187px;
  }
  &__prices-box {
    margin: 0px 14px 0px 0px;
  }
  &__inscription-quantity {
    padding: 17px 0px 24px 0px;
    display: flex;
    align-items: start;
    margin: 0px 24px 0px 0px;
    @include small-desktop {
      padding: 17px 0px 54px 0px;
    }
    @include tablet {
      padding: 17px 0px 30px 0px;
    }
  }
  &__inscription {
    flex: 0 0 265px;
    margin: 0px 24px 0px 0px;
  }
  &__inscription-title {
    font-size: 16px;
    margin: 0px 0px 5px 0px;
  }
  &__inscription-input {
    font-family: Fira Sans;
    color: $black;
    margin: 0px 0px 10px 0px;
    &::placeholder {
      color: $black;
    }
    &:-ms-input-placeholder {
      color: $black;
    }
  }

  &__inscription-example {
    font-size: 12px;
    line-height: 19px;
    color: $gray-dark;
    @include small-desktop {
      font-size: 14px;
    }
  }
  &__quantity-title {
    font-size: 16px;
    margin: 0px 0px 5px 0px;
  }
  &__quantity-select {
    &.jq-selectbox {
      margin: 0px 0px 10px 0px;
    }
    & div.jq-selectbox__select {
      width: 72px;
      height: 40px;
      border: 1px solid $gray;
      border-radius: 4px;
      padding: 2px 0px 11px 16px;
    }
    & div.jq-selectbox__dropdown {
      max-width: 72px;
      min-width: 72px;
      & li {
        padding: 5px 10px 6px 31px;
      }
    }
    & div.jq-selectbox__trigger {
      right: 3px;
    }
    & div.jq-selectbox__trigger-arrow {
      border-top: 5px solid $gray-darker;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      top: 18px;
    }
  }
  &__quantity-option {
    max-width: 72px;
    min-width: 72px;
  }
}
